header {
  height: 200px;
  padding-top: 25px;
  position: sticky;
  margin-top: 100px;
}

nav {
  height: 150px;

  /* position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; */
}

.element {
  height: 300px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;

  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: rgba(18, 24, 41, 0.8);
  /* backdrop-filter: blur(40px); */
}

.logo {
  /* position: absolute;
  left: 14%;
  right: 17.29%;
  top: 10%;
  bottom: 10%; */
  margin-left: 12px;
}

.container h1 {
  color: #ebeef5;
  width: 247px;
  height: 80px;
}

.container p {
  color: #8e95a9;
}

.navbar-light .navbar-nav .nav-link {
  color: #a8aebf;
}
