<nav class="navbar navbar-light navbar-expand-lg navigation-clean">
  <div class="container">
    <a class="navbar-brand" routerLink="inicio" href="#">
      <img class="logo" src="../assets/icons/logo.png" alt="logo" />
    </a>
    <button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-1"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="nav-text collapse navbar-collapse" id="navcol-1">
      <!-- <ul class="navbar-nav ms-auto">
        <li class="item-main">
          <a class="nav-link" routerLink="inicio" href="#">Inicio</a>
        </li>
        <li class="item-main">
          <a class="nav-link" routerLink="peliculas" href="#">Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="series" href="#">Series</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ingresar" href="#">Ingresar →</a>
        </li>
      </ul> -->
      <ul
        class="nav-text collapse navbar-collapse"
        *ngIf="userIsLogged | async as user; else other_nav"
      >
        <ul class="navbar-nav ms-auto">
          <li class="item-main">
            <a class="nav-link" routerLink="inicio" href="#">Inicio</a>
          </li>
          <li class="item-main">
            <a class="nav-link" routerLink="dashboard" href="#">Dashboard</a>
          </li>
          <li class="item-main">
            <a class="nav-link" routerLink="peliculas" href="#">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="series" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" href="#">Salir →</a>
          </li>
        </ul>
      </ul>
      <ng-template #other_nav>
        <ul class="navbar-nav ms-auto">
          <li class="item-main">
            <a class="nav-link" routerLink="inicio" href="#">Inicio</a>
          </li>
          <li class="item-main">
            <a class="nav-link" routerLink="peliculas" href="#">Películas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="series" href="#">Series</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ingresar" href="#">Ingresar →</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
