<section>
  <div class="text">
    <h1>PelisUP!</h1>
    <br />
    <p>Plataforma para ver películas y series 😉</p>
  </div>
  <div class="search" id="search">
    <i class="search-icon fas fa-search"></i>

    <form class="search-bar" id="form">
      <input
        class="input"
        type="search"
        id="search"
        name="q"
        placeholder="Buscar películas y series"
        (ngModelChange)="search($event)"
        [ngModel]="toSearch"
      />
    </form>
  </div>
  <br />
  <br />
  <div class="btn-group">
    <button (click)="filtro('todos')"><h1>Todos</h1></button>
    <button (click)="filtro('peliculas')"><h1>Películas</h1></button>
    <button (click)="filtro('series')"><h1>Series</h1></button>
  </div>
  <br />
  <div class="movie-count">
    <h2>
      Todos <small>({{ getLength() }})</small>
    </h2>
  </div>

  <section>
    <div class="lista-tarjetas row">
      <div
        class="card tarjeta mb-4"
        *ngFor="let card of movies_seriesAux; let i = index"
      >
        <img
          class="portada"
          src="https://image.tmdb.org/t/p/w500{{ card.poster_path }}"
          alt="image"
        />
        <h4 class="name">{{ card.title || card.name }}</h4>
        <button class="addButton btn" (click)="addItem(card, card.media_type)">
          Agregar a mi lista
        </button>
        <p class="rating"><i class="far fa-star"></i>{{ card.vote_average }}</p>
      </div>
    </div>
  </section>

  <!-- <app-card></app-card> -->
</section>
