.rect {
  width: 384px;
  height: 560px;
  left: 0px;
  top: 0px;
  background: #121829;

  border-radius: 36px;
}

.login-img {
  width: 384px;
  height: 560px;
  top: -0.71%;
  bottom: -3.57%;
}

.login h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #c3c8d4;
  align-self: stretch;
  flex-grow: 0;
  /* margin: 0px 0px; */
  margin-bottom: 30px;
}

.login-input {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;
}

.icon {
  /* padding: 10px; */
  /* background: dodgerblue; */
  display: flex;
  justify-content: center;
  color: #475069;
  min-width: 50px;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.form-control {
  padding: 12px 16px;
  background: transparent;
  box-shadow: none;
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  color: #475069;
  outline: none;
}

.form-control::placeholder {
  color: #475069;
  opacity: 1;
}

.label {
  color: #475069;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.login-btn {
  width: 486px;
  left: calc(50% - 486px / 2);
  top: 0%;
  bottom: 0%;

  background: #7b6ef6;

  border: 2px solid #7b6ef6;
  border-radius: 12px;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin-top: 30px;
  margin-bottom: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
}

p {
  color: #ebeef5;
  font-family: Poppins, sans-serif;
}

.O {
  display: flex;
  justify-content: center;
}

.google-btn {
  height: 48px;
  width: 486px;
  border: none;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
