.lista-tarjetas {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  margin: 128px;
}

.tarjeta {
  position: relative;
  background-color: #20283e;
  backdrop-filter: blur(80px);
  border-radius: 12px;
  width: 282px;
  height: 480px;
  justify-self: center;
}

.tarjeta h4 {
  color: #ebeef5;

  width: 109px;
  height: 24px;
  padding-left: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.portada {
  width: 266px;
  height: 400px;
  margin: 8px;
}

.rating {
  position: absolute;
  top: 18px;
  left: 16px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  color: #ffad49;
}

.rating i {
  margin-right: 5px;
}
