<section>
  <div class="lista-tarjetas row">
    <div class="column">
      <div class="card tarjeta">
        <img class="portada" src="{{ image }}" alt="image" />
        <h4 class="name">{{ name }}</h4>
        <!-- <button class="btn" (click)="addItem()">Agregar a mi lista</button> -->
        <p class="rating"><i class="far fa-star"></i>{{ rating }}</p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="container-fluid p-1">
  <div class="row cont justify-content-around">
    <div class="col-2 card" style="width: 25rem">
      <ul class="cont2">
        <li class="items">
          <i class="far fa-star"></i>
        </li>
        <li class="items">
          <h5>6.8</h5>
        </li>
      </ul>
      <img class="portada" src="../assets/img/img1.png" alt="Black Widow" />
      <div class="card-body">
        <h5 class="card-title text-light">Black Widow</h5>
      </div>
    </div>
  </div>
</section> -->
