header {
  height: 200px;
  padding-top: 25px;
}

nav {
  height: 150px;
}

.element {
  height: 300px;
}

footer {
  height: 300px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 120px;

  position: absolute;
  width: 1440px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: rgba(18, 24, 41, 0.8);
  backdrop-filter: blur(40px);
}

.logo {
  /* position: absolute;
  left: 14%;
  right: 17.29%;
  top: 10%;
  bottom: 10%; */
  margin-left: 12px;
}
/* 
.logo {
  height: 32px;
  width: 27, 48px;
} */

.container h1 {
  color: #ebeef5;
  width: 247px;
  height: 80px;
}

.container p {
  color: #8e95a9;
}

.navbar-light .navbar-nav .nav-link {
  color: #a8aebf;
}

.movie-count h2 {
  color: #767e94;
}

.form-outline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 344px;
  left: calc(50% - 344px / 2);
  top: 0%;
  bottom: 0%;

  background: rgba(0, 0, 0, 0.1);

  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;

  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
}

.text h1 {
  position: static;
  width: 247px;
  height: 80px;
  left: 0px;
  top: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;

  letter-spacing: -0.02em;

  color: #ebeef5;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  margin-left: 120px;
}

.text p {
  margin-left: 120px;
  position: static;
  width: 588px;
  height: 24px;
  left: 0px;
  top: 96px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #8e95a9;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-icon {
  color: #475069;
  margin-right: 25px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 344px;
  left: calc(50% - 344px / 2);
  top: 0%;
  bottom: 0%;

  background: rgba(0, 0, 0, 0.1);
  /* Grey/700 */

  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin-left: 120px;
}

.input {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  justify-content: end;
  justify-items: end;
  /* width: 171px;
  height: 16px;
  left: 0px;
  top: 12px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #475069;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

#search {
  border: 0px none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

input {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 50px;
  font-size: 50px;
}

.btn-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;

  position: absolute;
  width: 388px;
  height: 56px;
  left: 120px;
  top: 472px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(80px);

  border-radius: 12px;
}

.btn-group button:hover {
  background: #7b6ef6;
}

.btn-group button:active {
  background: #7b6ef6;
}

.btn-group button:focus {
  background: #7b6ef6;
}

.btn-group button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 32px;

  position: static;
  width: 115px;
  height: 40px;
  left: 8px;
  top: 8px;

  /* Primary/400 */

  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: none;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 3px 3px;
}

.btn-group h1 {
  position: static;
  width: 51px;
  height: 24px;
  left: 32px;
  top: 8px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #ebe9fe;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.movie-count {
  position: absolute;
  width: 148px;
  height: 40px;
  left: 120px;
  top: 552px;

  /* Heading/H3 */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;

  /* Grey/400 */

  color: #767e94;
}

.lista-tarjetas {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  margin: 128px;
}

.tarjeta {
  position: relative;
  background-color: #20283e;
  backdrop-filter: blur(80px);
  border-radius: 12px;
  width: 282px;
  height: 480px;
  justify-self: center;
}

.tarjeta h4 {
  color: #ebeef5;

  width: 109px;
  height: 24px;
  padding-left: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.portada {
  width: 266px;
  height: 400px;
  margin: 8px;
}

.rating {
  position: absolute;
  top: 18px;
  left: 16px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  color: #ffad49;
}

.rating i {
  margin-right: 5px;
}
