<div>
  <h1 class="titulo mb-5">Bienvenido</h1>
  <div class="row justify-content-center">
    <a
      class="d-flex justify-content-center align-items-center flex-column col-md-5 m-3 cuadrado"
      [routerLink]="['/mylist', 'movie']"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p>{{ lenghtPelicula }}</p>
        <span>Películas</span>
      </div>
    </a>
    <a
      class="d-flex justify-content-center align-items-center flex-column col-md-5 m-3 cuadrado"
      [routerLink]="['/mylist', 'tv']"
    >
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p>{{ lenghtSerie }}</p>
        <span>Series</span>
      </div>
    </a>
  </div>
</div>
