.titulo {
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #ebeef5;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.cuadrado {
  padding: 40px 16px;
  background: #121829;
  opacity: 0.8;
  border-radius: 12px;
}

p {
  color: #ebeef5;
  font-family: Poppins, sans-serif;
}

span {
  color: #ebeef5;
  font-family: Poppins, sans-serif;
}
