<section>
  <div class="text">
    <p>PelisUP!</p>
    <h1>SERIES</h1>
  </div>
  <div class="search" id="search">
    <i class="search-icon fas fa-search"></i>

    <form class="search-bar" id="form">
      <input
        class="input"
        type="search"
        id="search"
        name="q"
        placeholder="Buscar series"
        (ngModelChange)="search($event)"
        [ngModel]="toSearch"
      />
    </form>
  </div>
  <div class="movie-count">
    <h2>
      Todos <small>({{ getLength() }})</small>
    </h2>
  </div>
  <section>
    <div class="lista-tarjetas row">
      <div
        class="card tarjeta mb-4"
        *ngFor="let card of movies_seriesAux; let i = index"
      >
        <img
          class="portada"
          src="https://image.tmdb.org/t/p/w500{{ card.poster_path }}"
          alt="image"
        />
        <h4 class="name">{{ card.title || card.name }}</h4>
        <p class="rating"><i class="far fa-star"></i>{{ card.vote_average }}</p>
      </div>
    </div>
  </section>
</section>
