.text h1 {
  position: static;
  width: 247px;
  height: 80px;
  left: 0px;
  top: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;

  letter-spacing: -0.02em;

  color: #ebeef5;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 16px 0px;
  margin-left: 120px;
}

.text p {
  margin-left: 120px;
  position: static;
  width: 588px;
  height: 24px;
  left: 0px;
  top: 96px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #8e95a9;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.search-icon {
  color: #475069;
  margin-right: 25px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;

  position: static;
  width: 344px;
  left: calc(50% - 344px / 2);
  top: 0%;
  bottom: 0%;

  background: rgba(0, 0, 0, 0.1);
  /* Grey/700 */

  border: 1px solid #323b54;
  box-sizing: border-box;
  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
  margin-left: 120px;
}

#search {
  border: 0px none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.input {
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  justify-content: end;
  justify-items: end;
  /* width: 171px;
  height: 16px;
  left: 0px;
  top: 12px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #475069;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.movie-count {
  display: flex;
  padding-top: 50px;
  position: absolute;
  left: 120px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */

  letter-spacing: -0.02em;

  /* Grey/400 */

  color: #767e94;
}

/* card  */

.lista-tarjetas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr); */
  margin: 128px;
}

.tarjeta {
  display: flex;
  position: relative;
  background-color: #20283e;

  border-radius: 12px;
  width: 282px;
  height: 480px;
  /* justify-content: center; */
  align-items: center;
}

.tarjeta h4 {
  color: #ebeef5;
  display: flex;
  justify-content: start;

  /* TODO: position absolute top lef h4 */
  width: 100%;
  height: 24px;
  margin-top: 10px;

  /* padding-left: 10px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.portada {
  width: 266px;
  height: 400px;
  margin-top: 10px;
  /* margin: 8px; */
}

.rating {
  position: absolute;
  top: 18px;
  left: 16px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.65);

  border-radius: 8px;
  color: #ffad49;
}

.rating i {
  margin-right: 5px;
}
