<div>
  <h1 class="titulo mb-5" *ngIf="type == 'movie'; else other_title">
    Peliculas
  </h1>
  <ng-template #other_title>
    <h1 class="titulo mb-5">Series</h1>
  </ng-template>
  <div class="search" id="search">
    <i class="search-icon fas fa-search"></i>

    <form class="search-bar" id="form">
      <input
        class="input"
        type="search"
        id="search"
        name="q"
        placeholder="Buscar películas"
        (ngModelChange)="search($event)"
        [ngModel]="toSearch"
      />
    </form>
  </div>
  <section>
    <div class="lista-tarjetas row">
      <div
        class="card tarjeta mb-4"
        *ngFor="let card of movies_series; let i = index"
      >
        <img
          class="portada"
          src="https://image.tmdb.org/t/p/w500{{ card.poster_path }}"
          alt="image"
        />
        <h4 class="name">{{ card.title || card.name }}</h4>
        <button class="addButton" (click)="deleteItem(card.idCard)">
          Eliminar de mi lista
        </button>
        <p class="rating"><i class="far fa-star"></i>{{ card.vote_average }}</p>
      </div>
    </div>
  </section>
</div>
